body {
    background: rgb(238, 224, 224);
}

.todoApp {
    width: 800px;
    max-height: 600px;
    margin: 0 auto;
    border: 2px solid rgb(168, 148, 148);
    background: white;
    border-radius: 10px;
}