.note_editor {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.note_editor textarea {
    resize: none;
    height: 85px;
    padding: 5px;
}
.note_editor > button {
    width: 150px;
    height: 25px;
    border: 1px solid blueviolet;
    background: transparent;
    display: block;
    margin: 25px auto;
    transition: linear 0.5s ;
}
.note_editor > button:hover {
    background: blueviolet;
    color: #fff;
    cursor: pointer;
}
