.note {
    max-width: 798px;
    height: 30px;
    margin: 8px 0;
    border: 2px solid blueviolet;
    padding: 5px 10px;
}

.noteCompleted {
    background: blueviolet;
    color: #fff;
    opacity: 0.5;
    text-decoration: line-through;
}

.imgNoteCompleted {
    display: inline-flex;
    width: 15px;
    height: 15px;
}
.imgNoteUnCompleted {
    display:none;
}