.noteManager {
    display: flex;
    justify-content: space-between;
    margin: 10px ;
    border-top: 1px solid #000;
    padding: 10px 0 0 0;
}

.noteManager > span, .noteManager > a {
    display: block;
    border: 1px solid blueviolet;
    padding: 5px;
    width: 100%;
    margin: 0 5px;
    text-align: center;
}
.noteManager > a {
    text-decoration: none;
    color: #000;
    border: 1px solid blueviolet;
    transition: linear 0.5s ;
}

.noteManager > a:hover {
    background: blueviolet;
    color: #fff;
    cursor: pointer;
}

.noteManager > a:focus {
    background: blueviolet;
    color: white;
}
.noteManager > .buttonDeleteCompleted:focus {
    background: white;
    color: black;
}
.noteManager > .buttonDeleteCompleted:focus:hover {
    background: blueviolet;
    color: white;
}